html {
    background: rgb(19, 29, 34);
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    margin: auto;
    width: 300px;
    height: 300px;
    ;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.faceClock {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px -15px 15px rgba(255, 255, 255, 0.05), inset 0px -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
    /* -webkit-box-shadow: inset -1px 2px 12px 11px rgba(139, 133, 133, 0.89);
    box-shadow: inset -1px 2px 12px 11px rgba(134, 128, 128, 0.151); */
    background: url(../analogwatch_day2/clock.png);
    background-size: contain;
}

.hand {
    height: 4px;
    background: rgb(253, 251, 251);
    position: relative;
    transform: rotate(90deg);
    transform-origin: right;
    border-radius: 10px 0px 0px 10px;
}

.secondHand {
    /* border-radius: 10px 0px 0px 10px; */
    width: 39%;
    top: 48%;
    left: 19%;
    transform-origin: 80%;
    background: rgb(158, 22, 22);
    /* transform: rotate(20deg); */
}

.minuteHand {
    width: 26%;
    left: 24%;
    top: 48%;
    /* transform: rotate(300deg); */
}

.hourHand {
    top: 45%;
    width: 20%;
    left: 29%;
}

.faceClock::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(236, 226, 226);
    position: absolute;
    left: 49.5%;
    top: 48.5%;
}

.colortheme button {
    position: absolute;
    top: 3rem;
    right: 10rem;
    cursor: pointer;
    font-size: 3.5rem;
    background: none;
    border: none;
    color: white;
}

.lightmode {
    background: rgb(226, 228, 229);
}

.buttonStyle {
    color: black!important;
}

.handstyle {
    background: black!important;
}